<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Latest compiled and minified CSS -->
        <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        -->
		<!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.5.1/js/bootstrap.min.js"></script> -->
		
        <title>My scratchboard page</title>
    </head>

    <body>
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		  <a class="navbar-brand" href="#">My Scratchpad</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible_navbar">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="collapsible_navbar">
				<div class="nav navbar-nav navbar-right mr-auto">
					{% if current_user.is_authenticated %}
						<a class="nav-item nav-link mx-3 active" href="{{ url_for('logout') }}">Log out</a>
					{% else %}
						<a class="nav-item nav-link mx-3 active" href="{{ url_for('login') }}">Log in</a>
						<a class="nav-item nav-link mx-3 active" href="{{ url_for('create') }}">Create account</a>
					{% endif %}
				</div>
		  </div>  
		</nav>

        <div class="container">
			{% if current_user.is_authenticated %}
				<div class="row">
				<br>
					<form action="." method="POST">
						<textarea name="contents" placeholder="Enter a comment" class="form-control"></textarea>
						<input type="submit" class="btn btn-success" value="Post comment">
					</form>
				</div>
				<br>
			{% endif %}
			<br>
            {% for comment in comment_display %}
                <div class="row">
                    {{ comment.content }}
                </div>
				<div>
					<small>
						Posted
						{% if comment.comment_time_stamp %}
							{{ comment.comment_time_stamp.strftime("%A, %d %B %Y at %H:%M") }}
						{% else %}
							at an unknown time
						{% endif %}
						{% if comment.user_name%}
							{{ "by " }}
							{{ (comment.user_name) }}
						{% else %}
						by unknown
						{% endif %}
					</small>
				</div>	
            {% endfor %}
        </div>

    </body>
</html>